<section class="post-container d-flex flex-column text-center p-4">
    <h2>
        Add Post
    </h2>
    <form id="new-post-form">
        <div class="form-field d-flex flex-column align-items-center">
            <label for="new-post-title">Post Title:</label>
            <input class="form-input" type="text" class="m-3" id="new-post-title" required aria-required="true"/>
            <textarea name="new-post" id="new-post" class="comment-field m-3" maxlength="250" required aria-required="true"></textarea>
        </div>
        <p class="error" style="display: none;">Error: Please Fill Out All Required Fields</p>
        <button class="btn-primary" type="submit">Create Post</button>
    </form>
</section>
<section>
    <h2>
        My Posts
    </h2>

    {{#each posts as |post|}}
        <article class="d-flex flex-column justify-content-center align-items-center">
            <div class="post-header">
                <h2 id="post-title">
                    {{post.title}}
                </h2>
                <h3>
                    Posted by <strong>{{post.user.username}}</strong> on <strong>{{format_date post.createdAt}}</strong>
                </h3>
            </div>
            <p id="{{post.id}}" class="post-body" contenteditable="true" data-id="{{post.id}}">
                {{post.content}}
            </p>
            <div class="post-footer">
                <p class="comment-count">
                    {{post.comments.length}} Comments
                </p>
                <div>
                    <a href="/api/posts/{{post.id}}" class="btn-primary btn-wide">View Post</a>
                    <button class="btn-primary post-update" data-id="{{post.id}}">Update</button>
                    <button class="btn-primary post-delete" data-id="{{post.id}}">Delete</button>
                </div>
            </div>
        </article>
    {{/each}}
</section>


<script src="/js/dashboard.js"></script>