<section>
  {{#each posts as |post| }}
    <article>
      <div class="post-header">
        <h2>
          <a href="/api/posts/{{post.id}}">{{post.title}}</a>
        </h2>
        <h3>
          Posted by <strong>{{post.user.name}}</strong> on <strong>{{post.date_created}}</strong>
        </h3>
      </div>
        <p class="post-body">
          {{post.post_text}}
        </p>
      <div class="post-footer">
        <p>
          {{post.comments.length}} Comments
        </p>
        <a href="/api/posts/{{post.id}}"><strong>View Post</strong></a>
      </div>
    </article>
  {{/each}}
</section>